@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
  --smoke: rgb(186, 187, 201);
  --bluish: rgb(65, 52, 252);
  --navy: rgb(29, 38, 75);
  --lava: rgb(240, 76, 76);
  --primary-white: whitesmoke;
  --primary-orange: orange;
  --dark-blue: rgb(30, 48, 96);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-teal: rgb(6, 165, 205);
  --primary-light-grey: rgba(193, 193, 193, 0.815);
}

body {
  background-color: var(--bluish)!important;
}
/************************* NAVBAR *******************************/
.nav {
  z-index: 2;
}

.profile {
  width: 6rem;
}

/************************* MENU LINKS ****************************/
.navbar {
  background-color: rgb(22, 30, 58);
  opacity: 0.9;
}
nav a.nav-link {
  font-size: 1rem;
  /* font-weight: 500; */
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.nav-link href {
  cursor: pointer !important;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--dark-blue);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}



.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}


/**********************************   HEADER    *******************************/


.header-wrapper {
  position: relative;
  /* background: url(background1.jpg); */
  background-color: var(--navy);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Ubuntu" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--smoke);
  text-transform: uppercase;
  font-family: Monaco;
}
 
/*** typed ***/
.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important;
    color: var(--primary-white)
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

/*** main offer button ***/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 12px 12px 12px;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/**********************************   Particles    *******************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

@media(max-width: 768px) {
  particles-canvas {
    display: none;
  }
}

/**********************************   ABOUT    *******************************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.profileImg {
  width: 20rem;
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-orange);
}

.aboutHeading {
  color: var(--lava);
  font-family: Monaco;
  text-transform: uppercase;
  padding-top: 4rem;

}

@media(max-width: 468px) {
  .profileImg {
    width: 10rem;
  }
}

.about {
  background-color: var(--bluish);
}

#aboutEl {
  padding-right: 5rem;
}
 .about p {
   color: var(--smoke);
   font-family: Monaco;
   font-size: small;
   padding-top: 0rem;
 }
/**********************************   Services    *******************************/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--smoke);
}

.services h1 {
  font-family: Monaco;
  color: var(--navy);
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--navy);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 16rem;
  border-bottom: 5px solid var(--lava);
  padding: 10px;
  margin-bottom: 30px;
  background: var(--primary-white);
  box-shadow: 10px 10px 12px;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.box h3 {
  font-family: Monaco;
}

.services .box:hover {
  background: var(--bluish);
  border-bottom: var(--lava);
}

.services .box:hover .circle {
  background: var(--smoke);
}

.services .box:hover .icon {
  color: var(--navy)
}

.services .box:hover h3 {
  color: var(--navy);
}

.services .box:hover p {
  color: whitesmoke;
}


/**********************************  experience     *******************************/


.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--lava);
  font-family: Monaco;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: .125rem;
  height: 100%;
  background: darkgray;
  z-index: 1;
} 

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--dark-blue);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--smoke);
  font-family: Monaco;
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--lava);
  font-weight: 900;

}

@media(max-width: 768px) {
  .experience {
    padding: 0.7rem
  }
  .experience .container {
    padding-left: 0;
  }
  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;  
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/**********************************   PORTFOLIO    *******************************/

.portfolio-wrapper {
  background: var(--smoke);
  padding: 3rem 0;
}

.portfolio-wrapper h1 {
  font-family: Monaco;
  color: var(--navy);
}

.portfolio-image {
  width: 15rem;
  border: 3px solid var(--bluish);
  padding: 0.5 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}

.overflow {
  position: absolute;
    opacity: 0;
    background: rgb(64, 65, 64);
    width: 15rem;
    height: 8rem;
    top: 0;
  border: 1px solid var(--primary-teal);
  cursor: pointer;
}

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--navy);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 80%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.popupbox-wrapper {
  margin-top: 7rem;
}

.portfolio-image-popupbox {
  width: 68rem;
  padding: 0 0.5rem;
}

.popupbox-titleBar span {
  color: var(--bluish);
  font-family: Monaco;
  font-weight: 750;
}

.popupbox-content p {
  font-family: Monaco;
  padding-top: 1rem;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-teal);
}

.hyper-link:hover {
  color: var(--primary-orange);
}

@media(max-width:768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 570px) {
  .popupbox-wrapper {
    height: 100%;
  }
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .portfolio-image-popupbox {
    width: 30%;
  }
}

/**********************************  Contact     *******************************/

.contact {
  background: rgb(65, 52, 252);
  padding: 3rem 0;
  font-family: Monaco;
}

.contact h1 {
  color: var(--lava);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contact p {
  color: white;
  font-size: 1.2rem;
}

.contact input, .contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid var(--primary-teal);
  border-radius: 0;
  color: var(--primary-light-grey);
  outline: 0 !important;
  box-shadow: none!important;
  margin-bottom: 1rem;
  padding-left: 0!important;
}

.contact .container {
  padding: 4rem 0;
}

.contact input:focus, .contact textarea:focus {
  background: transparent;
  color: var(--primary-light-grey);
  border-bottom: 2px solid var(--primary-teal);
}

.contact textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: var(--lava);
  color: whitesmoke;
  border-radius: 1!important;
}

@media(max-width:768px) {
  .contaxt {
    overflow-x: hidden;
  }
  .contact .container {
    padding: 0 1rem;
  }
  .contact p {
    padding: 0 0.4rem;
  }
}

.line {
  position: relative;
  top: -2rem;
  width: 0;
  height: 2px;
  background: var(--lava);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0 !;
}

textarea.form-control {
  margin: -0.3rem 0 !;
}

.success-message {
  font-weight: 900;
  color: var(--primary-teal);
}

.error-message {
  align-content: center;
}

/**********************************/
.text-center input ref message {
  margin-top: -0px;
}
/**********************************/






/**********************************  footer     *******************************/

.footer {
  background: var(--navy);
  color: rgb(208, 208, 208);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: rgb(177, 177, 177);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.foter p {
  margin-bottom: 0;
}

.footer-links {
  line-height: 2.3;
  margin-left: 35px;
}

#iconEl {
  padding-top: 20px;
}

#copyright {
  font-size: small;
}


/**********************************  END  *******************************/

